/* Copy from application/asset/sass/_screen.scss */
#find {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 24px;
}
#find input[type=text] {
    width: calc(100% - 36px);
    float: left;
}
#find button {
    width: 36px;
    text-indent: -9999px;
    background-color: #222933;
    color: #bdcde3;
    border: 0;
    float: left;
    margin: 0;
    border-radius: 0;
    position: relative;
    height: 36px;
    box-shadow: none;
}
#find button:last-of-type {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0 3px 3px 0;
}
#find button:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    line-height: 36px;
    text-align: center;
}
#find button:last-of-type:after {
    content: "";
}
