<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Search\Query $query
 * @var \Search\Response $response
 * @var array $sortOptions
 */

$translate = $this->plugin('translate');
?>

<div class="search-results-header">
    <div class="search-results-count">
        <?= $this->pagination() ?>
    </div>
    <?= $this->searchSortSelector($query, $sortOptions) ?>
    <div>
        <a class="search-view-type search-view-type-list" href="#"><?= $translate('list') ?></a>
        |
        <a class="search-view-type search-view-type-grid" href="#"><?= $translate('grid') ?></a>
    </div>
</div>
